<div class="parent">
    <div>
        <form>
            <div class="ip-box">
                <input class="ip" type="text" id="from" placeholder="Origin">
            </div>

            <div class="ip-box">
                <input class="ip" type="text" id="to" placeholder="Destination">
            </div>

        </form>
        <div class="spacer"></div>
        <div style="position:absolute; left:120px;"><button class="button-80" type="button"
                (click)="displayRoute($event)">View stations</button></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div style="position:absolute; left:75px; top:100"><button class="button-80" type="button"
                (click)="refreshPage($event)">Back to view all stations</button></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="outputdetails" id="output">
        </div>
    </div>
</div>
<div class="full" id="map">
</div>