<div class="my-google-map">
    <div><input #mapSearchBox class="map-search" type="text" placeholder="View stations near searched location" /></div>
    <div *ngIf="showMsg" style="width:80%; height: 100px;">
        <div style="width: 15%; float:left; margin: 0px; background-color:white;">
            <ng-multiselect-dropdown [placeholder]="'Apply level filters for stations near searched location'"
                [settings]="dropdownSettings" [data]="levelDropdownList" [(ngModel)]="levelSelectedItems"
                (onSelect)="onLevelSelect($event)" (onSelectAll)="onLevelSelectAll($event)"
                (onDeSelect)="onLevelDeSelect($event)" (onDeSelectAll)="onLevelDeSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>
        <div style="width: 5%; float:left; margin: 0px; background-color: white;"><br> </div>
        <div style="width: 15%; float:left; margin: 0px; background-color: white;">
            <ng-multiselect-dropdown [placeholder]="'Apply Connector filters for stations near searched location'"
                [settings]="dropdownSettings" [data]="connectorDropdownList" [(ngModel)]="connectorSelectedItems"
                (onSelect)="onConnectorSelect($event)" (onSelectAll)="onConnectorSelectAll($event)"
                (onDeSelect)="onConnectorDeSelect($event)" (onDeSelectAll)="onConnectorDeSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>
    </div>
    <google-map [height]="1000" [width]=1500 [options]="mapOptions">
        <map-marker #markerId="mapMarker" *ngFor="let marker of stationsToBeMarked" [position]="marker.stationLocCoord"
            [options]="{icon:{ url: marker.color}}"
            (mapClick)="openInfoWindow(markerId, marker)"></map-marker>
        <map-info-window>
            <div>
                <h1>{{infoWindowContent.stationName}}</h1>
                <br>
                <h2>
                    <div>Availabilty </div> {{this.infoWindowContent.stationHrs}}
                </h2>
                <h2>
                    <div>Address </div> {{this.infoWindowContent.stationAddress}} <br>
                    {{this.infoWindowContent.stationCity}}
                    {{this.infoWindowContent.stationState}}
                    {{this.infoWindowContent.stationZip}}
                </h2>
                <h2>
                    <div>Phone </div> {{this.infoWindowContent.stationPhone}}
                </h2>

                <h2>
                    <div>Pricing </div> {{this.infoWindowContent.stationPricing}}
                </h2>
                <h2>
                    <div>Renewable Source </div> {{this.infoWindowContent.stationRenewableSource}}
                </h2>
            </div>
        </map-info-window>
    </google-map>
</div>