<div style="position:absolute; left:150px;"><button class="button-80" type="button"
    (click)="setFuncDropDown($event)">View all stations</button></div>
<div class="parent-step">   
    <!--<div><input #mapSearchBox class="map-search" type="text" placeholder="View stations near searched location" /></div>-->
    
    <div *ngIf="showMsg && !dropDownComponentShow" style="width:80%; height: 100px;">
        <div class="firstChild">
        
            <ng-multiselect-dropdown [placeholder]="'Apply Network filters for stations near searched location'"
                [settings]="dropdownSettings" [data]="networkDropdownList" [(ngModel)]="networkSelectedItems"
                (onSelect)="onLocNetworkSelect($event)" (onSelectAll)="onLocNetworkSelectAll($event)"
                (onDeSelect)="onLocNetworkDeSelect($event)" (onDeSelectAll)="onLocNetworkDeSelectAll($event)">
            </ng-multiselect-dropdown>
        
        </div>
        <div class="spacer"></div>
        <div class="firstChild">
            <ng-multiselect-dropdown [placeholder]="'Apply Connector filters for stations near searched location'"
                [settings]="dropdownSettings" [data]="connectorDropdownList" [(ngModel)]="connectorSelectedItems"
                (onSelect)="onLocConnectorSelect($event)" (onSelectAll)="onLocConnectorSelectAll($event)"
                (onDeSelect)="onLocConnectorDeSelect($event)" (onDeSelectAll)="onLocConnectorDeSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>
        
    </div>


</div>
<div *ngIf="dropDownComponentShow" class="parent">
    <div class="firstChild">
        <ng-multiselect-dropdown [placeholder]="'Apply Level filters for all stations'" [settings]="dropdownSettings"
            [data]="levelDropdownList" [(ngModel)]="levelSelectedItems" (onSelect)="onLevelSelect($event)"
            (onSelectAll)="onLevelSelectAll($event)" (onDeSelect)="onLevelDeSelect($event)"
            (onDeSelectAll)="onLevelDeSelectAll($event)">
        </ng-multiselect-dropdown>
    </div>
    <div class="spacer"></div>
    <div class="secondChild">
        <ng-multiselect-dropdown [placeholder]="'Apply Connector Type filters for all stations'" [settings]="dropdownSettings"
            [data]="connectorDropdownList" [(ngModel)]="connectorSelectedItems" (onSelect)="onConnectorSelect($event)"
            (onSelectAll)="onConnectorSelectAll($event)" (onDeSelect)="onConnectorDeSelect($event)"
            (onDeSelectAll)="onConnectorDeSelectAll($event)">
        </ng-multiselect-dropdown>
    </div>
    <div class="spacer"></div>
    <div class="thirdChild">
        <ng-multiselect-dropdown [placeholder]="'Apply Network filters for all stations'" [settings]="dropdownSettings"
            [data]="networkDropdownList" [(ngModel)]="networkSelectedItems" (onSelect)="onNetworkSelect($event)"
            (onSelectAll)="onNetworkSelectAll($event)" (onDeSelect)="onNetworkDeSelect($event)"
            (onDeSelectAll)="onNetworkDeSelectAll($event)">
        </ng-multiselect-dropdown>
    </div>
    <div class="spacer"></div>
</div>
<div>
    <input  type="text" id="search" placeholder="View Sations near searched location">
</div>
<div class="full" id="map"></div>